@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scroll {
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}
 
.oswald-EC {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 200, 300, 400, 500, 600, 700;
  font-style: normal;
}


.raleway-EC {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}
 
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.1s;
}

.shine-effect:hover::after {
  animation: shine 1s ease-in-out;
  opacity: 1;
}