@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scroll {
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}
 

 
